.ChoicesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.ChoicesPrompt {
  font-family: "Courgette";
  font-size: 1em;
}

.Choices {
  font-family: "Courgette";
  font-size: 1em;
}

button {
  font-family: "Courgette";
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: rgb(195, 195, 195);
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}
