.PictureMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Left {
  flex-direction: row;
}

.Right {
  flex-direction: row-reverse;
}

.DialogText {
  background-color: rgb(171, 171, 171);
  padding: 5rem;
  border-radius: 50%;
  color: black;
}
